<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./css/style.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>v-for example</title>
    <script defer src="https://unpkg.com/vue@next"></script>
    <script defer src='./js/main.js'></script>
</head>
<body>
    <div id="app">
        <ul class='array'>
           <li class='array-li' :class="{'active': item.title === currentItem.title}"  v-for="(item,index) in array" @click="showCurrentItem(index)">{{item.title}}</li>
        </ul>
        <p class="content">{{currentItem.content}}</p>
        <hr>
        <input type="text" @keydown.enter='addTodoItem' v-model="currentTodo">
        <button @click="addTodoItem">Добавить</button>
        <ul>
            <li v-for="(item,index) in todos">{{ item }}</li>
        </ul>
    </div>
</body>
</html>